<template>
    <div
        id="e3"
        style="max-width: 70%; margin: auto;"
        class="white"
        >
        <v-card>
            <v-container
                fluid
                style="min-height: 0;"
                grid-list-lg
                >
                <v-layout row wrap>
                    <v-flex xs12 v-for="job in ujobs">
                        <v-card color="black" class="yellow--text">
                            <v-container fluid grid-list-lg>
                                <v-layout row align-center>
                                    <v-flex>
                                            <div class="text-md-left" >{{job.type}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.name}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.worker}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.status}}</div>
                                    </v-flex>
                                    <v-flex>
                                        <div class ="text-md-right">
                                        <v-progress-circular
                                          :size="50"
                                          :width="10"
                                          :rotate="360"
                                          :value= "job.dlprog"
                                          color="yellow">
                                          {{ parseInt(job.dlprog) }}
                                        </v-progress-circular>
                                        </div>
                                    </v-flex>
                                    <v-btn color="red--text" v-on:click="reset(job)">RESET</v-btn>
                                </v-layout>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 v-for="job in cjobs">
                        <v-card color="black" class="light-green--text">
                            <v-container fluid grid-list-lg>
                                <v-layout row align-center>
                                    <v-flex>
                                            <div class="text-md-left" >{{job.type}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.name}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.worker}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.status}}</div>
                                    </v-flex>
                                    <v-flex>
                                        <div class ="text-md-right">
                                        <v-progress-circular
                                          :size="50"
                                          :width="10"
                                          :rotate="360"
                                          :value= "job.prog"
                                          color="light-green">
                                          {{ parseInt(job.prog) }}
                                        </v-progress-circular>
                                        </div>
                                    </v-flex>
                                    <v-btn color="red--text" dark v-on:click="reset(job)">RESET</v-btn>
                                </v-layout>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 v-for="job in djobs">
                        <v-card color="black" class="purple--text">
                            <v-container fluid grid-list-lg>
                                <v-layout row align-center>
                                    <v-flex>
                                            <div class="text-md-left" >{{job.type}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.name}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.worker}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.status}}</div>
                                    </v-flex>
                                    <v-flex>
                                        <div class ="text-md-right">
                                        <v-progress-circular
                                          :size="50"
                                          :width="10"
                                          :rotate="360"
                                          :value= "job.dlprog"
                                          color="purple">
                                          {{ parseInt(job.dlprog) }}
                                        </v-progress-circular>
                                        </div>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 v-for="job in rjobs">
                        <v-card color="black" class="light-blue--text">
                            <v-container fluid grid-list-lg>
                                <v-layout row align-center>
                                    <v-flex>
                                            <div class="text-md-left" >{{job.type}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.name}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.worker}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.status}}</div>
                                    </v-flex>
                                    <v-btn color="red--text" dark v-on:click="reset(job)">RESET</v-btn>
                                </v-layout>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 v-for="job in ejobs">
                        <v-card color="black" class="red--text">
                            <v-container fluid grid-list-lg>
                                <v-layout row align-center>
                                    <v-flex>
                                            <div class="text-md-left" >{{job.type}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.name}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.worker}}</div>
                                    </v-flex>
                                    <v-flex xs3>
                                            <div class="text-md-center">{{job.status}}</div>
                                    </v-flex>
                                    <v-btn color="red--text" dark v-on:click="reset(job)">RESET</v-btn>
                                </v-layout>
                            </v-container>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </div>
</template>

<script>
import https from 'https';
import axios from 'axios';

// create custom axios agent if necessary
if (process.env.VUE_APP_SELF_SIGNED == "true"){
    var agent = new https.Agent({
        // TODO this but you know not badly.
        rejectUnauthorized: false,
    })
    var protocol = "https:"
    var ax_agent = axios.create({agent})
} else {
    var ax_agent = axios.create()
    protocol = location.protocol
}

function get_api_addr () {
    if (process.env.VUE_APP_API_ADDR){
        return process.env.VUE_APP_API_ADDR + ":" + process.env.VUE_APP_API_PORT;
    } else {
        return location.host.split(":")[0] + ':' + process.env.VUE_APP_API_PORT;
    }
}

export default {
    data() {
        return {
            interval: {},
            ujobs: [],
            cjobs: [],
            djobs: [],
            ejobs: [],
            rjobs: [],
            ip: get_api_addr()
        }
    },

    // Get Job
    mounted() {
        this.interval = setInterval(() => {
            this.value += 10
            ax_agent.get(protocol + '//' + this.ip + ':/encode/jobs/status/uploading/100').then(response =>
                (this.ujobs = response.data.data))
            ax_agent.get(protocol + '//' + this.ip + '/encode/jobs/status/converting/100').then(response =>
                (this.cjobs = response.data.data))
            ax_agent.get(protocol + '//' + this.ip + '/encode/jobs/status/downloading/100').then(response =>
                (this.djobs = response.data.data))
            ax_agent.get(protocol + '//' + this.ip + '/encode/jobs/status/error/10').then(response =>
                (this.ejobs = response.data.data))
            ax_agent.get(protocol + '//' + this.ip + '/encode/jobs/status/recieved/100').then(response =>
                (this.rjobs = response.data.data))
            }, 1000)
    },

    // reset method
    methods: {
        reset: function (event) {
            ax_agent.put(protocol + '//' + this.ip + '/encode/jobs/_id/' + event._id, {
                status: "recieved",
                dlprog: 0,
                prog: 0,
                worker: "unassigned"
            })
        }
    }
}
</script>

<style scoped>
</style>
