<template>
    <div class="shutdown">
        <h1>Shut Down</h1>
        <h3>Each node/service will shutdown AFTER its current job is complete.</h3>
        <v-btn color="light-green"
            :loading="loading"
            :disabled="loading"
            @click.native="loader = 'loading'">Shutdown
        </v-btn>
    </div>
</template>

<script>
import axios from 'axios';

function get_api_addr () {
    if (process.env.VUE_APP_API_ADDR){
        return process.env.VUE_APP_API_ADDR + ":" + process.env.VUE_APP_API_PORT;
    } else {
        return location.host.split(":")[0] + ':' + process.env.VUE_APP_API_PORT;
    }
}

export default{
    data() {
        return {
            loading: false,
            loader: null,
            ip: get_api_addr()
        }
    },

    // watchers
    watch: {
      loader () {
        if (this.loader == "loading"){
            const l = this.loader
            this[l] = !this[l]

            // make request to mongodb
                axios.put(location.protocol + '//' + this.ip + '/encode/cstatus/name/cluster', {
                    cstatus: "shutdown",
                })
            // stop loading animation
            setTimeout(() => (this[l] = false), 3000)
            this.loader = null
        }
      }
    }
}
</script>
