<template>
  <v-toolbar dark color="black">
    <v-btn to="/" icon>
      <v-icon>home</v-icon>
    </v-btn>
    <v-toolbar-title class="white--text" v-if="cstatus === 'alive'">Auto-Encode</v-toolbar-title>
    <v-toolbar-title class="white--text" v-else>Auto-Encode Shutting Down!</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn to="/shutdown" icon>
      <v-icon>power_settings_new</v-icon>
    </v-btn>
  </v-layout>
  </v-toolbar>
</template>

<script>
import axios from 'axios';

function get_api_addr () {
    if (process.env.VUE_APP_API_ADDR){
        return process.env.VUE_APP_API_ADDR + ":" + process.env.VUE_APP_API_PORT;
    } else {
        return location.host.split(":")[0] + ':' + process.env.VUE_APP_API_PORT;
    }
}
 
export default {
    data() {
        return {
            ip: get_api_addr(),
            cstatus: "alive"
        }
    },
    // get shutdown status
    mounted() {
         this.interval = setInterval(() => {
             this.value += 10
             axios.get(location.protocol + '//' + this.ip + '/encode/cstatus/getall').then(response =>
                 (this.cstatus = response.data.data[0].cstatus))
         }, 1000)
     }
}
</script>

<style scoped>
</style>
